*{
    padding: 0;margin: 0;box-sizing: border-box;text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
}
#wrapper-div{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 870px;
    margin: auto;
    justify-content: center;
}

.header{
    background-color: lightgray;
    width: 100%;
    min-height: 50px;
   
}

.main{
    margin-bottom: 30px;
    margin-top: 60px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box1{
    font-family: 'Poppins', sans-serif;
    background: blueviolet;
    box-shadow: 11px 26px 4rem rgba(0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: fit-content;
    border-radius: 194px;
    color: white;
    text-transform: capitalize;

}

.box2{
   
    font-family: 'Poppins', sans-serif;
    box-shadow: 11px 26px 4rem rgba(0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:23%;
    height: fit-content;
    border-radius: 194px;
    
    
 
}

.user{
    color: blueviolet;
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 10px;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 13px;
}

.address{
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: gray;
}.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: lightgray;
    width: 100%;
    min-height: 50px;
   

}
@media only screen and (max-width: 600px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .box1{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px;
    margin-bottom: 25px;
    background: none;
    border-radius: 0.8rem;
    }
    .image{
        border-radius: 1.8rem;
        display: contents;
    min-width: 100%;
    max-width: 100%;
   
    }
    .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.8rem;
        display: block;
     }
     .til-dis{
        padding-bottom: 25px;
        padding-top: 25px;
        color: #111;
        text-align: center;
     }
     .box2{
        width: 100%;
     }
    
  }
.image{
    width: auto;
    height: 470px;
    background: #111;
    align-items: center;

}

  .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

.til-dis{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    margin-left: 24px;
  
}
.uimage img{
    width: 130;
    height: 130;
    border-radius: 100px;
}
.user h1{
    padding-bottom: 10px;
    padding-top: 15px;
    color: black;
    text-transform: capitalize;
}
.user h2{
    padding: 3px;
    color: #f10000;
    padding-top: 3px;
}
.button{
    cursor: pointer;
margin-top: 15px;
    display: flex;
    color: white;
    border-radius: 10px;
    background: darkgreen;
}
.but-call{
    
    border-top-left-radius: 10px;
    display: flex;
    color: white;
    padding: 13px;
    background: darkgreen;
    font-weight: bold;
}
.but-messege{
    
    border-bottom-right-radius: 10px;
    display: flex;
    color: white;
    padding: 13px;
    background: red;
    font-weight: bold;
}
.address h2{
    font-size: 25px;
    padding-top: 37px;
}
.image img:hover{
    border: 2px solid red;
    cursor: pointer;
    transform: scale(1.1);
}
.uimage img:hover{
    border: 2px solid red;
    cursor: pointer;
    transform: scale(1.3);
    border-radius: 0px;
}